.tools/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.class
*.log
*.pyc
*.swp
.DS_Store
coverage/
.widget_preview/
android/app/debug/
android/app/profile/
android/app/release/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
.idea/
.metadata.local
android/local.properties
android/key.properties
*.jks
*.keystore
windows/flutter/ephemeral/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
